.gradient {
  position: absolute;
  width: 770px;
  bottom: -680px;
  height: 700px;
  background-image: radial-gradient(#f372a7 20% , #f36f8b 20%, #efbf9c 60%, transparent 70%);
  transform: skewX(170deg);
  filter: blur(40px);
}